[2017-06-15 10:02] peterdesmet opened #1 "How to express invasionStage for plants?"
@qgroom @SoVDH @timadriaens what invasion stage information do we want to extract from the manual of alien plants?

This is the information we have:

<img width="370" alt="invasion stage" src="https://user-images.githubusercontent.com/600993/27175931-07d08ac4-51c1-11e7-8067-afaa36e4162b.png">

- `D/N` is information you [have already mapped](https://github.com/inbo/alien-species-checklist/blob/mas

[2017-06-15 10:15] peterdesmet commented on #1
@qgroom I'm probably mixing a number of DwC terms, so I'm definitely need your input here. 😅

[2017-06-15 10:33] peterdesmet opened #2 "How to express year first seen"
@qgroom @SoVDH @timadriaens @dimevil

The manual of alien plants has a column `FR` (first record?), which lists values like:

[code]

1. This information only makes sense when it is related to a region. However, this information is not available for `Fl`, `Br` and `Wa` separately, but generally (so assuming "Belgium"). The best way to then express that information is to add distribution records fo

[2017-06-15 12:25] peterdesmet opened #3 "Use character encoding"
Some [scientific names contain](https://github.com/peterdesmet/alienplantsbelgium/blob/master/data/processed/taxon.csv) `<U+00E9>`:

Which is probably due to character encoding.

[2017-06-15 12:52] #3 closed

[2017-06-28 16:30] peterdesmet opened #4 "Update headers in source file"
* [x] Remove empty line 1
* [x] Update `Presence` to `Presence_Fl`, `Presence_Br`, `Presence_Wa`
* [x] Remove empty 3 and 4
* [x] Add column `ID` as first column

[2017-07-04 13:12] peterdesmet opened #5 "Don't use parsed scientific name columns or classification"
GBIF will parse the scientificName and link to the backbone taxonomy. **We don't want to maintain our own parsed scientific name columns or classifications**, so those newly added columns should be removed:

* [x] Taxon: keep
* [x] Family: keep, as Filip will keep maintaining that one
* [x] Genus: remove
* [x] specificEpithet: remove
* [x] authority: remove
* [x] kingdom: remove (is used by GBIF,

[2017-07-04 13:17] peterdesmet opened #6 "Add column hybridFormula"
The column `Taxon` sometimes contains the hybrid formula between parenthesis.

    Taxon: Chenopodium x preissmannii J. Murr (C. album L. x opulifolium)

This will make it difficult for the GBIF name parsing, so it's better to move this information to a separate column:

    Taxon: Chenopodium x preissmannii J. Murr
    HybridFormula: C. album L. x opulifolium

For hybrid without a name, both colu

[2017-07-04 13:18] peterdesmet commented on #6
qgroom, let me know if you need help parsing/cleaning this information

[2017-07-04 13:24] peterdesmet opened #7 "Add taxonRank dropdown"
taxonRank is a [required term](http://www.gbif.org/publishing-data/quality#checklist). The suggestion vocabulary is [this one](http://rs.gbif.org/vocabulary/gbif/rank_2015-04-24.xml) but it does not contain hybrids. We need this information for preparsing some of the names (in case the GBIF parsing fails)

Suggestion for terms:

    genus
    species
    subspecies
    variety
    cultivar
    hyb

[2017-07-04 13:44] peterdesmet opened #8 "Ignore synonym information"
We decided not to include synonym information in the published dataset.

[2017-07-04 13:44] #8 closed

[2017-07-04 14:01] peterdesmet opened #9 "D/N information should apply to year range"
As discussed with @groom, the degree of naturalization (`D/N`) should apply to the year range defined by `FR` (first record) and `MRR` (most recent record).

Currently it is confusing if a casual taxon with an MRR of e.g. 1945 should be labelled `extinct` or `casual`. The best way is to indicate what the status was of that taxon for that time period:

    1944    1957    casual

That also means th

[2017-07-04 14:02] peterdesmet opened #10 "Does bold text mean anything in the checklist"

[2017-07-04 14:05] peterdesmet opened #11 "occurrenceStatus"
Should be `extant` (= `present`) for all taxa, as`extinct` will be removed (see #9). As this is a very simple mapping, the column `occurrenceStatus` should be removed from the spreadsheet.

[2017-07-04 14:07] peterdesmet opened #12 "origin"
Valid values for this dataset are:

* `vagrant` for `D/N` = `Cas.`
* `introduced` for `D/N` = `Nat.` or `Inv.`

As this is a simple mapping, the column `origin` should be removed from the spreadsheet

[2017-07-04 14:15] peterdesmet opened #13 "Create dropdown for V/I"
`V/I` = mode of introduction = pathway = establishmentMeans currently contains good values, so we won't replace this with the Blackburn et al. controlled vocabulary (as we'll also lose some granularity). The current values are not always formatted consistently however.

* [x] Clean list for formatting (e.g. remove `,...`)
* [ ] Provide as a dropdown
* [ ] Multiple values are still possible

[2017-07-04 14:16] peterdesmet opened #14 "establishmentMeans"
`establishmentMeans` will be based on `V/I` and:

* [x] Mapped to Blackburn et al.
* [x] Multiple values will be provided in the single `establishmentMeans` term, but separated by pipe.
* [x] This information will only be added for distribution records for Belgium (not Flanders, etc.)
* [x] Remove field `establishmentMeans` from spreadsheet

[2017-07-04 14:24] peterdesmet opened #15 "Should we add info for Flanders, Brussels, Wallonia in distribution"
Information regarding `pathway`, `first record` and `most recent record` all apply to the distribution in **Belgium**. Extrapolating that information to Flanders, Wallonia and Brussels is somewhat odd. The checklist does contain minimal presence information regarding those regions ( `X` or `?`).

So the question is, do we publish distribution information about the regions:

locality | eventDate |

[2017-07-04 14:25] peterdesmet opened #16 "Map origin (continent) to a description"

[2017-07-04 14:27] peterdesmet opened #17 "Ignore mode of introduction (M/I)"
Does not seem to contain more useful information (Deliberate / Accidental) than V/I, so we'll ignore this in the mapping.

@qgroom is that correct?

[2017-07-04 14:28] peterdesmet opened #18 "Degree of establishment"
Won't try to map this information for now, remove column from spreadsheet.

@qgroom correct?

[2017-07-04 20:49] peterdesmet opened #19 "Decide how to handle <yyyy and yyyy? first records dates"
Proposal:

    <1861 => 1500/1860
    ? => 1500

[2017-07-05 10:13] peterdesmet commented on #11
If all regions have `?` (e.g. Chenopodium album L. x probstii), should the occurrenceStatus be `presence unknown`?

[2017-07-05 12:18] peterdesmet opened #20 "Remove parentNameUsageID"
Currently contains link to a name (to IPNI), not a nameUsage (= taxon).

[2017-07-07 07:17] qgroom commented on #20
It's gone

[2017-07-07 07:17] #20 closed

[2017-07-07 07:27] qgroom commented on #4
all four steps done

[2017-07-07 07:27] #4 closed

[2017-07-07 07:36] qgroom commented on #19
If the MMR column has a N, N? or Ann then the date range should end in the current year.

[2017-07-07 07:37] qgroom commented on #19
All records without a start date can start in 1500.

[2017-07-07 07:38] qgroom commented on #18
it's gone

[2017-07-07 07:40] qgroom commented on #17
yes, that's fine

[2017-07-07 07:43] qgroom commented on #16
The codes of Filip will not change so we can map them to human readable terms in the script. These will then be put in the description field of DwC.

[2017-07-07 07:46] qgroom commented on #15
We are OK with just giving the information for Belgium in the GBIF checklist.

[2017-07-07 07:56] qgroom commented on #14
mapping to V/I is fine, but we would like to leave in the question marks and the '...' and have these striped out by the conversion script.

[2017-07-07 08:35] qgroom commented on #11
This issue is a problem for the vocabulary we are suggesting, because if `occurrenceStatus `only refers to the date or date range in eventDate then there will never be a reason to use the `occurrenceStatus` of `extinct`. However, checklists frequently contain this information as it refers to the status at the time of publication.

Any suggestions on how best to handle this?

[2017-07-07 09:57] qgroom commented on #7
I've implemented a controlled vocabulary with a dropdown menu.
Still need to sort out the hybrid formulas.

[2017-07-07 11:51] qgroom commented on #2
Anywhere the MRR is Ann., N or Nat.? we can use the current year as the end of the period.

[2017-07-07 11:55] qgroom commented on #10
The bold line are any record that is different to the original published catalogue. We can ignore this for GBIF.

[2017-07-07 11:55] #10 closed

[2017-07-07 12:47] qgroom commented on #12
done

[2017-07-07 13:01] timadriaens commented on #2
@peterdesmet you can always check definitions of the abbreviations in the manual [here](http://alienplantsbelgium.be/sites/alienplantsbelgium.be/files/tabel_2.pdf)

[2017-07-07 13:03] timadriaens commented on #2
**First record (Abbrev.: FiR)**
Data about the first record of a given taxon are chiefly taken from the databased herbarium collections. No literature as such has been consulted as data from literature are not verifiable (see above). One major exception is made for some neophytes that a) were already present before 1900 and b) that usually have not been confused with related taxa. As old herbarium

[2017-07-07 13:05] timadriaens commented on #2
**Most recent record (Abbrev.: ReR)**
Following Pyšek & al. (2004) the most recent record of a given taxon is also provided as this is considered to be an important piece of information. This enables us to select taxa that have only occurred recently and ignore taxa that have not been confirmed in, for instance, the past 50 or 100 years (or vice versa). For this item, herbarium sources were comple

[2017-07-07 13:21] qgroom commented on #16
I've harmonized the terms in the spreadsheet and added a drop down menu to select new items. There is now a new worksheet that relates the codes to the continents.

[2017-07-07 14:28] qgroom commented on #2
@timadriaens the question is whether we should use these dates for Flanders and Wallonia when we really only have the dates for the whole of Belgium. Filip thought is better not to include the present/absence data for the separate regions.

[2017-07-07 14:44] peterdesmet commented on #12
I'm reopening this so I don't forget I should map this.

Also, how should question marks be treated?

[2017-07-07 14:48] peterdesmet commented on #14
Ok, so question marks and dots will be ignored in the conversion: so "wool?" and "wool" will be treated equally?

[2017-07-07 14:50] peterdesmet commented on #15
That simplifies matters a lot.

[2017-07-07 14:58] qgroom commented on #12
no problem, Nat? = introduced; Cas.? = vagrant

[2017-07-07 14:59] qgroom commented on #14
Yes, that's fine.

[2017-07-08 06:17] timadriaens commented on #2
Obviously, no, that would be wrong in many cases (the more correct way would be to infer that date from the herbarium specimen the cross in the columns FL/WAL/BR refers to). We can infer the pres/abs per region from the occurrence records TrIAS will publish anyway.

[2017-07-08 08:04] qgroom commented on #2
Yes, I hope I can get as much of the Belgian herbarium published to GBIF as possible.

[2017-07-10 06:37] qgroom commented on #9
In the case where a taxon is extinct would there be a down side if we generated a second record with an event date of MMR+1 to the current year?

[2017-07-10 06:52] peterdesmet commented on #9
That is indeed one of the options we discussed. It would be created by the script for every taxon that does not have a MMR = this year.

[2017-07-10 07:58] qgroom commented on #9
I'm beginning to wonder if we actually need 'extinct' in the occurenceStatus vocabulary. If occurenceStatus only refers to the specified dates and place, then perhaps we only need 'extant', 'presence uncertain' and 'absent'.

[2017-07-12 08:03] peterdesmet commented on #9
Well, "extinct" is a subcategory of "absent" in my opinion, with the extra implied info that it was "extant" before.

Btw, I know it's the IUCN vocab, but "present" is a lot more intuitive to me than the term "extant". I suggest we accept "present" as a synonym term?

[2017-07-12 14:15] qgroom commented on #9
Indeed, I just don't feel it is good to make the implication about an earlier period when we want people to create DwC records that only refer to the place and time specified in the record.

I agree about present verses extant. I think they can be considered exact synonyms on SKOS.

[2017-08-03 09:40] peterdesmet commented on #5
All done in new Excel file.

[2017-08-03 09:40] #5 closed

[2017-08-03 09:43] peterdesmet commented on #6
Thanks @qgroom for moving the hybrid formula info to its own column in the new Excel file.

[2017-08-03 09:43] #6 closed

[2017-08-03 09:47] peterdesmet commented on #7
Thanks. I notice that hybrid formulas are indicated as `hybrid`, which is fine to me. Do you want to leave it as that?

[2017-08-03 09:49] peterdesmet opened #23 "Full names for hybrid formulas"
`Chenopodium album L. x hircinum` can be interpreted as:

1. A named subspecies hybrid of `Chenopodium album`
2. A hybrid formula: `Chenopodium album L. x Chenopodium hircinum L.`

If the latter, I would spell out the name in full. It's best to do this for all hybrid formulas.

[2017-08-03 12:23] #15 closed

[2017-08-03 12:33] peterdesmet opened #24 "Region distribution not always conclusive"
Even though **we won't use** the `X` and `?` information in the presence columns, I wanted to highlight that there are:

* 22 records where all 3 regions have `?`
* 2 records where all 3 regions are blank

There is not always a relation with how the `D/N` column is populated. Maybe something to look into.

[2017-08-03 12:39] peterdesmet commented on #11
Ok, there are two questions here:

1. Your question: will there ever be a reason to use `extinct` and a date range? I would think so, as you can definitely say the dodo has been extinct since 1663. For species that are extinct in a certain region (e.g. wolfs in Belgium?), I think you can still use that. And, you might not always have date information, but still like to say something is extinct.

2

[2017-08-03 14:40] peterdesmet commented on #9
Updated occurenceStatus `extant` to `present`  in 5485d205617aca65604f214a59429dea9b920464, closing this issue.

[2017-08-03 14:40] #9 closed

[2017-08-03 14:41] peterdesmet commented on #18
Reopening this one, as I'm get a bit confused:

1. Is D/N = degree of naturalization = degree of establishment?
2. We do **not** want to provide this info, but just occurrenceStatus info (i.e. "present")

[2017-08-08 09:35] peterdesmet commented on #19
@qgroom can I ignore "ca" and "?" in FR and MRR dates? So:

[code]

[2017-08-08 13:40] peterdesmet commented on #19
Ok, ignore the above questions, here's the approach I took for mapping the FR and MRR to eventDate.

* [ ] Strip `ca.` from FR/MRR: `ca. 1975 → 1975`. The year is the best guess we have.
* [ ] Strip `?` from FR/MRR: `1813? → 1813`. The year is the best guess we have.
* [ ] Strip `>` from FR/MRR: `>1940 → 1940`. Indicates after, but that year is the best guess we have.
* [ ] Strip `<` from FR: `<18

[2017-08-08 13:46] peterdesmet commented on #17
Please discuss with Filip if it's actually worth keeping `M/I`. Doesn't`V/I` (Food refuse, Hort.) already imply accidental vs deliberate?

[2017-08-09 09:28] peterdesmet commented on #14
Like to get second option from @timadriaens and @SoVDH:

How should pathways with `?` be interpreted from the Alien plants dataset? The current implementation is:

* [ ] Just question marks: `? → (blank)`
* [ ] Single value with question mark: `Hort.? → Hort.`, as a close guess.
* [ ] Multiple values with question mark: `Hort., timber? → Hort. | timber`

Note that in the [mapping you've done befor

[2017-08-09 11:54] peterdesmet opened #25 "Decide on actual values to use for establishmentMeans"
We have are four options:

1. Take values [from first checklist vocab](https://github.com/inbo/alien-species-checklist/blob/master/data/vocabularies/introductionPathway.tsv) by @SoVDH and @timadriaens: `contaminant > transportation of habitat material (soil, vegetation,…)`
2. Shorten those values (current implementation): `contaminant:habitat_material`
3. Use proposed [pathway vocab](https://githu

[2017-08-09 14:38] peterdesmet commented on #12
[Mapping done](https://github.com/trias-project/alienplantsbelgium/blob/a9ee71e59b71d98d53fac54a57af2b02ff758aee/src/dwc_mapping.md#origin) but there are also `Ext.` and `Inv.` values that are currently left blank.

Also, I think I better include this mapping in the description, as it is not a term yet.

[2017-08-10 08:59] peterdesmet commented on #12
Updated to include this in the [description extension](https://github.com/trias-project/alienplantsbelgium/blob/27c894ad73b07894d08714eacec2af6486f7d415/data/processed/description.csv). To resolve: mapping of `Ext.` and `Inv.`

[2017-08-10 09:54] peterdesmet opened #26 "Decide on name for "origin" as description"
The [description extension](https://github.com/trias-project/alienplantsbelgium/blob/27c894ad73b07894d08714eacec2af6486f7d415/data/processed/description.csv) currently uses the type name "origin" for `vagrant`, `introduced`, etc. We need to decide if we want to keep it that way.

The name "origin" is discussed here: https://github.com/qgroom/ias-dwc-proposal/issues/5

[2017-08-10 09:55] peterdesmet opened #27 "Decide on name for "native range" in description"
The [description extension](https://github.com/trias-project/alienplantsbelgium/blob/27c894ad73b07894d08714eacec2af6486f7d415/data/processed/description.csv) currently uses the type name "native range" for `Americas`, `Australasia`, etc. We need to decide if we want to keep it that way.

The name "native range" came up in this discussion: https://github.com/qgroom/ias-dwc-proposal/issues/5 and is

[2017-08-10 10:18] peterdesmet opened #28 "Vocab for native range"
There is a vocab for native range suggested in the Excel file. I have some questions and suggestions about it and would like to have it confirmed:

original value | original suggested value | new suggested value | comment
--- | --- | --- | ---
AM | pan-American | Americas | For the region, [Wikipedia suggests "Americas"](https://en.wikipedia.org/wiki/Pan-American)
NAM | Northern America | Northern

[2017-08-10 10:21] peterdesmet commented on #16
The mapping is now done and the values are included in the [description extension](https://github.com/trias-project/alienplantsbelgium/blob/27c894ad73b07894d08714eacec2af6486f7d415/data/processed/description.csv). Note that the mapping in the Excel file is not used and should only serve as guidance for Filip. Changing the mapping there won't update the DwC mapping!

The final mapping is discussed

[2017-08-10 10:21] #16 closed

[2017-08-21 20:17] timadriaens commented on #25
I think it makes sense showing CBD pathway categories and subcategories in the field (which is what we did already). For many checklists, we'll probably only have category information so by including both we can still use these data.

[2017-08-21 20:34] timadriaens commented on #28
[NOBANIS manual.zip](https://github.com/trias-project/alienplantsbelgium/files/1240078/NOBANIS.manual.zip)

We proposed to use the NOBANIS controlled vocabulary,

N. America Canada, USA, Mexico
S. America All countries south of Mexico
Asia Divides to Europe along Ural/Kazakhstan, Black Sea
Oceania Australia, New Zealand and the small islands out there
Antarctica This is a continent from where we w

[2017-08-22 19:45] peterdesmet commented on #25
@timadriaens ok, that leaves options 1 and 2, and I think I prefer 2 with the more controlled short values.

[2017-08-22 19:47] peterdesmet commented on #28
Ok, sounds good. But we'll need input from @qgroom and Filip to know if those can be mapped to Nobanis one to one.

[2017-08-23 12:59] qgroom commented on #28
Meeting Filip on Friday and will bring this up.
Quentin

[2017-08-23 13:10] qgroom commented on #25
Yes I agree with Tim. If these are ultimately implemented in SKOS they will need a short name anyway, though less than 16 characters would be better IMHO. SKOS could also use a meaningless identifier and there is something to be said for doing this.

[2017-08-23 13:30] qgroom commented on #6
Funnily enough I seconded a proposal at the Nomenclatural Section of the IBC to make a recommendation in the International Code that hybrid formulas should be written like this Chenopodium album L. x Chenopodium opulifolium L.
Therefore, we will be following the next ICBN by making it this way.

[2017-08-23 13:56] qgroom commented on #26
I'm OK with this terminology. It is always going to be problematic.
In most checklists the majority would be native, which would make the usage clearer.

[2017-08-23 14:05] qgroom commented on #27
PlinianCore uses the term `Distribution`, but I don't feel that helps much.

[2017-08-24 15:59] peterdesmet commented on #6
👍

[2017-08-24 16:01] peterdesmet commented on #25
So, for now you agree with using option 2? If so, I'd like a full mapping of CBD to those codes.

[2017-08-25 07:05] timadriaens commented on #25
I do agree with using option 2

[2017-09-14 08:23] peterdesmet opened #30 "Extend metadata"

[2017-09-14 08:24] peterdesmet opened #31 "Don't require meta.xml"
Manually creating a meta.xml is not necessary. Figure out with @qgroom how to do that.

[2017-09-14 08:24] peterdesmet opened #32 "Map description extension"
Currently not published.

[2017-09-14 08:25] peterdesmet opened #33 "merge/clean branches"

[2017-09-14 08:32] peterdesmet opened #34 "Difference in number of taxa: source <-> GBIF"
The source dataset has [2,500 records](http://ipt.biodiversity.be/resource?r=alien-plants-belgium) (= taxa), while on GBIF it is displayed as [2,653](https://www.gbif.org/dataset/9ff7d317-609b-4c08-bd86-3bc404b77c42). We have to figure out why.

[2017-09-14 08:33] peterdesmet opened #35 "Using new establishmentMeans causes "distribution:invalid" warning on GBIF"
The checklist taxa get a `distribution:invalid` tag on GBIF (e.g. https://www.gbif.org/species/134086869). We have to figure out why.

[2017-09-14 08:38] peterdesmet commented on #32
The taxon description extension is not installed on the IPT, which can only be done by the IPT admin. @andrejjh or @dimevil, can you install the taxon description extension at http://ipt.biodiversity.be/admin/extensions.do:

![extension](https://user-images.githubusercontent.com/600993/30420046-b12fcdf0-9938-11e7-903d-d01f893d8081.png)

[2017-09-14 14:31] andrejjh commented on #32
Hi Peter,
The taxon description extension installed on our IPT.
Best,

--
Ir Andre Heughebaert
Belgian Biodiversity Platform <http://www.biodiversity.be>
+32(0)2238 3796
Av. Louise 231 Louizalaan
B-1050 Brussels ORCID 0000-0002-7839-5300
<http://orcid.org/0000-0002-7839-5300>

On 14 September 2017 at 10:38, Peter Desmet <notifications@github.com>
wrote:

[2017-09-15 07:45] peterdesmet commented on #31
Is fixed.

[2017-09-15 07:45] #31 closed

[2017-09-15 09:04] timadriaens commented on #28
north America vs northern America, NOBANIS manual includes Mexico in N. America but manual not

[2017-09-15 09:58] peterdesmet commented on #32
Thanks!

[2017-09-15 09:58] #32 closed

[2017-09-15 14:09] peterdesmet commented on #17
We will ignore this column and rely on `V/I`

[2017-09-15 14:13] timadriaens commented on #17
we need to cross check first whether there are any non-release/escape pathways listed as accidental and vice versa

[2017-09-15 14:26] peterdesmet opened #37 "Resource is registered with BBPF instead of BGM"
The [resource](http://ipt.biodiversity.be/resource?r=alien-plants-belgium) is currently registered with the BBPF. @DimEvil @andrejjh, can you register this with the Botanic Garden Meise instead?

[2017-09-16 08:51] peterdesmet commented on #33
Done in https://github.com/trias-project/alien-plants-belgium/pull/36.

[2017-09-16 08:51] #33 closed

[2017-09-16 09:32] peterdesmet commented on #30
What I did:

* Set update frequency to biannually
* Added 3 authors (resource creators): Filip, Quentin, Peter
* Added kingdom "Plantae" to taxonomic coverage
* Kept subkingdom "Angiospermae" (but used scientific name, not Angiosperms)
* Removed project personnel: I would keep this section empty (it's often duplicating methods information)
* Set automatic citation (including DOI)

There is no now

[2017-09-16 09:35] peterdesmet commented on #19
We discussed this at the meeting yesterday and all agreed with this approach. The above gives an overview. Closing issue.

[2017-09-16 09:35] #19 closed

[2017-09-18 07:39] DimEvil commented on #37
@andrejjh @niconoe  (Could you do this, I don't have the possibility here)

*Instructions for migrating a DwC archive from one publisher to another in IPT.*

2. Update the <organisation> element in the resource.xml file, replacing the organization key (GBIF UUID) of the old organization with the key (GBIF UUID) of the new one.

For example changing <organisation>2760d7b0-767c-11d8-a198-b8a03c50a86

[2017-09-19 08:36] niconoe commented on #37
Indeed, seems a good move. @silenius, can you have a look since it involves manually changing a file on the server?

Just to be safe, I'd also like that we inform the secretarial after the manual change so they can check everything's fine on their side.

[2017-10-18 07:40] peterdesmet commented on #34
Now reduced on GBIF to [2481](https://www.gbif.org/dataset/9ff7d317-609b-4c08-bd86-3bc404b77c42) taxa: not sure why there is still a difference... hybrids?

[2017-10-18 09:28] peterdesmet commented on #35
Issue repported at https://github.com/gbif/portal-feedback/issues/562

[2017-10-18 09:30] peterdesmet opened #38 "ID's in the manual"
Reported by @DimEvil at https://github.com/inbo/alien-species-checklist/issues/87:

[2017-10-18 09:45] peterdesmet commented on #38
IMO a locally unique ID is easier to create and maintain (it's maintained in an Excel file after all). It makes the scope (= local) very clear to anyone who has to maintain this in the future, while adding an artificial prefix might make a future (or even current) maintainer wonder if that is actually used. The only prefix I'd consider useful is a URL that then makes the ID actionable (you can cli

[2017-10-18 11:45] DimEvil commented on #38
Check: http://rs.gbif.org/extension/gbif/1.0/distribution.xml
"A code for the named area this distributon record is about. Use a prefix for each code to indicate the source of the code, see http://rs.gbif.org/areas/ for list of coding schemes and their recommended prefix. see also http://rs.gbif.org/areas/"

The interpreted resource can't be downloaded through GBIF (at the moment) . so if you down

[2017-10-18 11:46] DimEvil commented on #38
I'm ok in using localID's, but they should not be 1,2,3.. :) even in the local database...

[2017-10-18 11:50] peterdesmet opened #39 "Don't use hybrid as taxonRank"
GBIF will indicate those with [rank unknown](https://www.gbif.org/species/search?dataset_key=9ff7d317-609b-4c08-bd86-3bc404b77c42&issue=RANK_INVALID&advanced=1). That makes sense, you could argue that [Berberis x hybrido-gagnepainii J.V. Suringar](https://www.gbif.org/species/134087188) should have the rank `species`. I'd therefore suggest to use the correct `taxonRank` in the Excel file.

We alre

[2017-10-18 15:45] peterdesmet commented on #35
@qgroom, so... `establishmentMeans` values are actually [verified by GBIF](https://github.com/gbif/portal-feedback/issues/562#issuecomment-337604881) and have to be one of these values: http://rs.gbif.org/vocabulary/gbif/establishment_means.xml (= the required data type).

If a value fails it gets `distribution:invalid` and the establishmentMeans info is not available via the API, which is the cas

[2017-10-25 09:13] LienReyserhove opened #41 "Importing and exporting to UTF-8"
There seems to be a problem with the data encoding when importing from and exporting to the taxon dataset to a .csv file.

**With respect to the importing:**

A warning message emerges:

This warning message only occurs in Windows and can be changed after applying

see this [table of locales](https://docs.moodle.org/dev/Table_of_locales) and the following [GitHub issue](https://github.com/tidyvers

[2017-10-25 09:42] peterdesmet commented on #35
Opted to leave the `establishmentMeans` values as is: so these will still create a `distribution:invalid` flag -- which should remind us that this is still a vocab implementation issue at GBIF (+ also recorded at https://github.com/gbif/portal-feedback/issues/562)

In order to be able to access the pathway information already via the GBIF API, it is now also added in the Description extension: see

[2017-10-31 14:15] peterdesmet opened #43 "Some IDs in extension not found in core"
According to the DwC validator, there are IDs in the distribution (19) and description (43) extension that do not appear in the core: https://www.gbif.org/tools/data-validator/1509439657182. Look for the error `Record referential integrity violation`.

One such ID (in both extension, not in core) is `2482`

[2017-10-31 14:39] peterdesmet commented on #43
Hmm... seems solved in latest files on GitHub. Would have to recheck after dwca-1.3 is created.

[2017-11-07 09:21] peterdesmet commented on #41
On my Mac OS X:

* This works: `Sys.setlocale("LC_CTYPE", "en_US.UTF-8")`
* This generates an error: `Sys.setlocale("LC_CTYPE", "English_Australia.1252")`

[2017-11-30 09:23] peterdesmet commented on #38
taxonIDs will be of the form `alien-plants-belgium:taxon:1`. Closing issue.

[2017-11-30 09:23] #38 closed

[2017-11-30 09:34] peterdesmet opened #44 "Stable IDs in the manual"
Taxon IDs are currently stored in the Excel file. However, when new species are added (alphabetically), the ID column is reassigned by Filip, so all IDs run again from 1 to x. That means that almost all species get assigned new IDs.

Option 1: Explain Filip that those IDs should be kept stable, but that requires manual addition of new IDs... which will eventually lead to duplicates or gaps.

Optio

[2017-11-30 09:56] timadriaens commented on #14
Imo, the correct way of doing it would be to account for uncertainties in pathway assessment. So to choose wool and include a field "confidence level" and set it at "low", see [[this paper](https://doi.org/10.1093/biosci/biv082)] in BioScience of which you are co-authors. But that is probably a bridge too far. So if Filip can live with "wool? --> wool" than that's fine for me.

[2017-11-30 10:13] peterdesmet commented on #14
@timadriaens correct, but there isn't a field to express confidence level. So @qgroom, can you confirm that Filip is fine with the "wool? --> wool"?

[2017-11-30 10:46] timadriaens opened #45 "fields FL, Br, WA"
Hi there, as you know the idea is also to use the checklists to feed regional biodiversity indicators. Therefore, these fields are important to us to include. For a number of the other checklists, we can infer them: the non-native fish are for Flanders only, the macroinvertebrates as well so these are all Fl: present. Inferring this from the occurrences will not work, as many species figure on che

[2017-12-01 08:01] peterdesmet commented on #45
This is how we've set the distribution so far:

* Macroinvertebrates: Flanders
* Non-native fish: (will be) Flanders
* Manual of alien plants: Belgium

For the manual, we chose Belgium because the related information (first date, last date, pathway) is for Belgium:

    1	ISO_3166-2:BE	Belgium	BE	present	escape:horticulture	1998/2016

If we want to include the regional information, it would have t

[2017-12-01 08:07] peterdesmet commented on #44
See [this answer](https://github.com/gbif/portal-feedback/issues/688#issuecomment-348147752): taxonKeys at GBIF are based on our taxonIDs, so it is important to keep them as stable as possible! We could still go for option 1 or 2, to be discussed with Filip. @LienReyserhove can you email Filip and Quentin and ask what they prefer?

[2017-12-01 09:19] LienReyserhove commented on #44
I will update Filip and Quentin on this issue. Personally, I prefer option two as this appears to be the most stable solution to me, especially because there is no room for errors due to manual editing. We have to think about good and unique identifiers for each scientific name though...

[2017-12-01 12:08] qgroom commented on #14
I'm sure Filip would be OK with the '?'. An uncertainty field would be too
far at this point. Almost everything in a checklist is derivative, so it
all comes with some interpretation and ambiguity.
I wonder how easily people made the decision to use Darwin Core for
checklists, rathering than thinking through all of the consequences.
Quentin

[2017-12-04 10:59] timadriaens commented on #45
I think that indeed we should eventually keep the information for Belgium for the checklist. Yet, regional information can be inferred and that information is necessary to draft regional indicators or in case we want to have the option to select on region. In case a species is only present in one region we can assume date and pathway relate to that region and so we could keep lines for belgium and

[2017-12-05 16:08] peterdesmet commented on #45
Ok @LienReyserhove, can you try to include this information [as described by Tim](https://github.com/trias-project/alien-plants-belgium/issues/45#issuecomment-348928847)?

[2017-12-09 10:27] qgroom commented on #45
No X means absent, but as always with absences it is not an absolute.
Certainly, all speces have assessed for all regions and no X does not mean
that it hasn't been looked for.
Quentin

[2017-12-09 10:39] qgroom commented on #44
Filip is out of the country at the moment, but it would be good to have a
discussion with him when he returns. Lien, would you like to visit the
Garden one day? You could chat to Filip about his dataset, but we could
also discuss other data the Garden has and how we could mobilize it.
Quentin

[2017-12-11 08:46] LienReyserhove commented on #44
I think this is a very good idea. I'm willing to come to the botanic
garden, so please name a date that would fit you!
Cheers,
Lien

[2017-12-11 09:11] qgroom commented on #44
OK, I'll contact Filip and get back to you with a suggestion.
Quentin

[2017-12-11 17:32] LienReyserhove commented on #45
I made a first attempt to deal with this issue in a new pull request, i.e. #47

[2017-12-12 16:10] peterdesmet commented on #45
@qgroom what should we do with absence information (no `X`) now?

1. Don't add this region to the distribution extension (current implementation)
2. Add this region to the distribution extension, with occurrenceStatus: "absent"

[2017-12-15 08:10] timadriaens commented on #45
Option 1 seems preferable to me as the absences are not absolute

[2017-12-15 12:06] qgroom commented on #45
I actually favor option 2, but for the same reasons Tim prefers option 1.
Although the field is empty all the evidence has been checked. The only
problem is in deciding what dates to use.
Quentin

[2017-12-15 22:20] peterdesmet commented on #45
No date info would be provided, just like we don’t provide it for presence in the regions (except if there is only one region).

[2017-12-19 11:04] LienReyserhove commented on #44
#50

[2017-12-22 10:49] LienReyserhove commented on #44
As agreed in our meeting, I integrated the new taxonID (i.e. alien-plants-belgium:taxon:HASH) in the mapped dataset, see #50

[2017-12-22 10:49] #44 closed

[2017-12-22 10:52] LienReyserhove commented on #45
At this point, we decided to not add the absence information to the dataset (option 1)

[2017-12-22 10:52] #45 closed

[2017-12-22 14:37] peterdesmet opened #52 "Set establishmentMeans to "introduced""
As long as TDWG hasn't adopted (and GBIF hasn't implemented) the use of a [pathway vocabulary](https://github.com/trias-project/vocab/blob/master/vocabulary/pathway.tsv) for `establishmentMeans`, I propose that we stick to the current one that is in use:

http://rs.gbif.org/vocabulary/gbif/establishment_means.xml

Which is:

[code]

I would opt to use `introduced` (which has synonyms `exotic` and

[2018-01-03 09:53] peterdesmet opened #56 "Add degree of establishment"
Add `degree of establishment` to the description extension, with the values:

- established
- introduced
- data deficient (which includes to be determined by experts)

I don't remember on which field in the Excel this was based, but it should be in the Google Doc by Tim. I also don't know the name of the used vocabulary (if any).

[2018-01-04 07:34] peterdesmet commented on #56
@timadriaens @qgroom @SoVDH don't recall how to call this: `degree of establishment` or `invasion stage`?

[2018-01-04 07:34] peterdesmet opened #57 "Use .Rmd file instead of .R"

[2018-01-04 09:35] qgroom commented on #56
'established' is a term that expresses the degree of establishment or invasion stage
'introduced' is to do with where is comes from and says nothing about the degree of establishment or invasion stage.
The two terms are not mutually exclusive.

[2018-01-05 10:38] peterdesmet commented on #56
Ok, guess we need a vocab to better express degree of establishment.

[2018-01-05 11:11] #43 closed

[2018-01-05 12:15] #25 closed

[2018-01-05 12:20] LienReyserhove commented on #18
https://github.com/trias-project/alien-plants-belgium/issues/56

[2018-01-05 12:20] LienReyserhove commented on #18
#56

[2018-01-05 12:21] LienReyserhove commented on #18
Closing this issue, for further discussion see #56

[2018-01-05 12:21] #18 closed

[2018-01-05 12:22] #14 closed

[2018-01-08 14:12] timadriaens commented on #52
As explained during our meeting, for the TrIAS checklist we will use the proposed unified framework for biological invasions of [Blackburn et al.](http://doc.rero.ch/record/24725/files/bach_puf.pdf) but we discard the terms naturalised (because often no sensible criterium to distinguish between casual/naturalised of naturalised/established), and invasive (this is a label that should only be put on

[2018-01-08 19:13] qgroom commented on #52
You have both highlighted why this is a crappy vocabulary. It conflates
where it comes from with how well established it is.
I would use just the terms native and introduced in this field. That aligns
it with my new term origin and is compatable with GBIF validation.

[2018-01-09 10:35] peterdesmet commented on #52
Ok, so the take away is:

For all our **alien** checklist, we'll populate this term with `introduced`. @LienReyserhove can you do this?

[2018-01-11 09:54] LienReyserhove commented on #52
Sure :-)

[2018-01-12 10:08] #52 closed

[2018-01-18 09:16] LienReyserhove commented on #56
At this point I would suggest to use (for each checklist):

*  establishmentMeans: introduced
*  invasion stage: established

see also https://github.com/trias-project/alien-fishes/issues/6

[2018-01-23 10:04] peterdesmet commented on #56
@LienReyserhove agreed that this is the general approach for each checklist. For the manual of alien plants, there is this comment on invasion stage in the document:

@timadriaens @qgroom does this translate in putting all plants as invasion stage `established`?

@LienReyserhove: when adding `invasion stage` to the Rmd, please add an explanation like you did for alien fishes: it's really helpful.

[2018-02-07 13:51] peterdesmet opened #59 "Add speciesProfile information"
@qgroom can you ask Filip to add a column to the source file called `environment`, with the following 3 values:

* `M` for `isMarine`
* `F` for `isFreshwater`
* `T` for `isTerrestrial`

The column can contain multiple values, such as `F/T`, separated by `/`.

We will use this information to populate the http://rs.gbif.org/extension/gbif/1.0/speciesprofile.xml

---

Note: we will also indicate `FAL

[2018-02-09 09:48] LienReyserhove opened #60 "Add invasion stage"
**Suggestion**: add `invasion stage` to the description extension. The mapping would look like this (`occurrenceStatus `and `establishmentMeans `in distribution extension):

raw data (D/N) | invasion stage | occurrenceStatus | establishmentMeans
--- | --- | --- | --- |
Cas. | Casual | present | introduced
Cas.? | Casual | present | introduced
Ext / Cas. | Casual | present | introduced
Ext |  | **a

[2018-02-09 10:25] qgroom commented on #60
I can remember why you liked "invasion stage", rather than the more neutral term "degree of establishment".

I think this is the best approach, though you may consider "not applicable" instead of leaving it blank.

Yes

[2018-02-13 10:44] peterdesmet opened #61 "Add genus, specificEpithet and infraspecificEpithet"
Could be generated from the scientificName with the [GBIF name parser](https://www.gbif.org/developer/species#parser). We could then choose one of the following approaches:

## Add as 3 columns to source file

Bulk of it could be populated **once** with GBIF name parser and then maintained manually.

Main advantage: speed + control

## Add as 3 columns in mapping

Would have to be parsed every tim

[2018-02-13 10:46] peterdesmet commented on #61
Example: http://api.gbif.org/v1/parser/name?name=Amaranthus%20hybridus%20L.%20subsp.%20hybridus%20var.%20hybridus

[2018-02-13 10:50] qgroom commented on #61
Could the parser be called as part of the script, or does this mean adding a step?

[2018-02-13 11:07] peterdesmet commented on #61
It could be called as part of the script

[2018-02-23 10:25] peterdesmet commented on #60
If we can define the following groups in the data, I would standardize them as such:

## 1. present and naturalized

- distribution with occurrenceStatus: `present` from `start_date` until `end_date` (often now)
- invasion stage: `established`

## 2. present and casual

- distribution with occurrenceStatus: `present` from `start_date` until `end_date` (often in the past)
- invasion stage: `casual`

[2018-02-23 10:31] qgroom commented on #60
I assume you made these categories up?
This is that issue that you are referring to the situation at the publication date of the checklist, but the other information in the checklist is referring to the situation at the event date of the record.
Why do we need this?
Why can't we derive this information from observations?

[2018-02-23 10:35] peterdesmet commented on #60
1. Yes, we made those up.
2. Yes, ideally we can retrieve this information from observations, but it will be less complete for all taxa.
3. Yes, we are struggling to combine statements with the time period to which they apply. This is a problem in the Excel file too!! If something is established, but has presence `?`: is it uncertain now, but established in the past, etc.? It gets complex, but we

[2018-03-06 14:11] LienReyserhove commented on #60
Ok, I made an effort to summarize all possible combinations in the dataset, together with how this would translate into the Darwin Core Mapping.  I now distinguish 5 different mapping categories:

(in the table: DN = degree of naturalization, FR = date first record, MRR = date most recent record. First 3 columns are included in the raw data)

### 1. Casual and presence uncertain

eventDate: popula

[2018-03-07 14:01] peterdesmet commented on #35
Now solved. The original example at the beginning of this issue no longer exists (because we have updated our taxonIDs), but see e.g. https://www.gbif.org/species/141265785.

[2018-03-07 14:01] #35 closed

[2018-03-07 14:27] LienReyserhove commented on #56
See discussion in https://github.com/trias-project/alien-plants-belgium/issues/60.
We are now integrating `invasion stage` rather than `degree of establishment`. #60 gives a detailed overview of how we interpret the invasion stage information contained in the MAP.
I'm closing this issue now.

[2018-03-07 14:27] #56 closed

[2018-03-07 14:41] LienReyserhove commented on #30
For my answers, see **bold** text in the previous  comment.
The metadata have been extended, see the [GBIF page](https://www.gbif.org/dataset/9ff7d317-609b-4c08-bd86-3bc404b77c42) for the Manual of Alien Plants.

I'm closing this issue.

[2018-03-07 14:41] #30 closed

[2018-03-07 14:45] LienReyserhove commented on #12
We decided to discard `origin` and to replace it by `invasion stage` (see https://github.com/trias-project/alien-plants-belgium/issues/60#issue-295811123):

We all agreed on this, so I'm closing this issue

[2018-03-07 14:45] #12 closed

[2018-03-07 14:52] LienReyserhove commented on #34
I thought this issue was solved, i.e. GBIF automatically adds higher taxonomical levels to the records. Although it's funny that GBIF registers less taxa than we added species. @peterdesmet could you confirm this?

[2018-03-07 14:54] LienReyserhove commented on #26
We decided to discard `origin` and to replace it by `invasion stage` (see https://github.com/trias-project/alien-plants-belgium/issues/60#issue-295811123):

We all agreed on this, so I'm closing this issue

[2018-03-07 14:54] #26 closed

[2018-03-07 15:06] LienReyserhove commented on #1
I'm referring to #60  for a detailed discussion on how to map invasion stage combined with presence information.

With respect to the third option, this is fully discussed in https://github.com/trias-project/alien-plants-belgium/issues/45#issuecomment-351099040 (starting from there).

So I'm closing this issue

[2018-03-07 15:06] #1 closed

[2018-03-07 15:10] LienReyserhove commented on #61
It would be good to have an answer on this question in the meantime: (see #23)

If the latter, I would spell out the name in full. It's best to do this for all hybrid formulas.

[2018-03-07 15:52] peterdesmet commented on #61
Agreed. Name should either be:

- Chenopodium album L. subsp. x hircinum
- Chenopodium album L. x Chenopodium hircinum

[2018-03-07 16:04] peterdesmet commented on #34
I see 2.522 source records and 2.522 GBIF records. So correct!

[2018-03-08 15:17] peterdesmet commented on #60
Looks good. I've bolded the two cases where we ADD an extra distribution for `yyyy/now`, i.e. for those species that were once established, but are now ext/casual or ext.

@LienReyserhove I also completed the last row of the table in 3 (italic). Can you verify this is correct?

[2018-03-08 20:01] qgroom commented on #60
I agree, this looks good. I'm now wondering how generally applicable this is.

[2018-03-09 07:46] LienReyserhove commented on #60
@peterdesmet yes your completion is correct, thank you for his!
If I interpret this correct, I have a green light to integrate these changes in the script.
I'm closing this issue and I will start right away!

[2018-03-09 07:56] peterdesmet commented on #60
Good luck! Best to structure it as simple as possible in the Rmd.

[2018-03-12 12:12] #34 closed

[2018-03-16 09:15] peterdesmet commented on #60
@qgroom: something Lien and I discussed further: although both invasion stage (established, casual) and occurrence status (present/absent) are time related, we unfortunately cannot express this neatly in a single extension:

- **distribution extension**: has time information (and occurrence status), but no field to express invasion stage
- **description  extension**: has invasion stage, but no fie

[2018-03-16 09:26] qgroom commented on #60
It is a thorny problem. I feel we are getting too Procrustean with our data. Would it help to discuss this with GBIF. If there some way we could adjust the extension definitions, without changing the DwC standard that would allow for a more elegant structure? It is had to foresee all the problems with the options without discussing this. BTW: I really hate the `occurenceStatus` vocab that GBIF use

[2018-03-16 09:49] LienReyserhove commented on #60
fyi, I made a [new branch](https://github.com/trias-project/alien-plants-belgium/tree/invasion-Stage-/-occurrenceStatus)  with the changes as suggested in https://github.com/trias-project/alien-plants-belgium/issues/60#issuecomment-370793343.

[2018-03-16 09:49] peterdesmet commented on #60
Indeed, especially the [distribution extension](http://rs.gbif.org/extension/gbif/1.0/distribution.xml_. It currently already has a couple of non-DwC fields: `threatStatus `, `appendixCITES` and `source`. I think it would make sense to add `invasionStage` as an extra distribution and time-related field.

What do we do in the meantime? Conflating everything into `present` is more procrustean (I'll

[2018-03-19 08:14] timadriaens commented on #60
interesting discussions hat I don't think the GRIIS checklists consider, see their [Matching of data fields and terms ](https://www.nature.com/articles/sdata2017202/tables/2). They do have impact ("isInvasive") but no introduction dates nor pathway information.

[2018-03-30 11:43] LienReyserhove commented on #11
To close this issue, some quick answers:

1. There are in fact species that are considered to be extinct in the manual. For these species, we use the date range between the last observation and today. See also #60 and #62

2. When all regions are `?`, we keep the records and state that `occurrenceStatus = presence uncertain` for each region.

3. When all regions are blank, we exclude the records f

[2018-03-30 11:43] #11 closed

[2018-03-30 11:46] LienReyserhove commented on #28
We decided to use the [World Geographic Scheme for Recording Plant Distributions](http://grassworld.myspecies.info/sites/grassworld.myspecies.info/files/tdwg_geo2.pdf)

[2018-03-30 11:49] LienReyserhove commented on #24
1. When all regions are `?`, we keep the records and state that `occurrenceStatus = presence uncertain` for each region.

2. When all regions are blank, we exclude the records from the checklist.

See also https://github.com/trias-project/alien-plants-belgium/issues/45 and https://github.com/trias-project/alien-plants-belgium/issues/11

[2018-03-30 11:49] #24 closed

[2018-03-30 11:57] LienReyserhove commented on #13
At this point, we decided to integrate information from `V/I` in the description extension, and to map this values to the Blackburn et al. controlled vocabulary. We use this vocabulary for all checklist (which have pathway information) in TrIAS. In the description extension, each pathway per species is represented in one line.

[2018-03-30 11:57] #13 closed

[2018-03-30 12:00] LienReyserhove commented on #27
We decided to use the term `native range` in the `description extension`. See also https://github.com/trias-project/alien-plants-belgium/issues/28

[2018-03-30 12:00] #27 closed

[2018-04-05 14:37] peterdesmet opened #63 "Empty invasion stage for Galatella sedifolia (L.) Greuter"
Noted one record with an empty invasion stage:

    "alien-plants-belgium:taxon:00bb2bc05d9481b0bc8b5b57117fa799","","invasion stage","en"

Is `Galatella sedifolia (L.) Greuter` with empty `D/N`. Is the only record with empty `D/N`. Would not create record for empty `D/N`.

[2018-04-06 09:46] LienReyserhove commented on #60
### To conclude:

1. We decided to use the **recent** invasion stage **only** for the `extinct `or `extinct/casual` species (see #62)

2. We suggested a new vocabulary for some of these terms or to extend the existing vocabulary. For a full overview of this approach, see https://github.com/trias-project/vocab/issues/3

3. For now, we decided to keep our approach with respect to `occurrenceStatus`.

[2018-04-06 09:46] #60 closed

[2018-04-06 09:53] LienReyserhove commented on #23
@qgroom could you have a look at this?
I think (sorry to push this idea) that we need to be careful with changing the content of the manual. If we need to change it, we should feed back to Filip first.

[2018-04-06 10:02] #7 closed

[2018-04-06 10:14] qgroom commented on #23
It is interesting this should come up, because in the new International Code of Nomenclature for algae, fungi and plants there is a recommendation to write the name in full. I was seconder on the motion.
So I would go for option 2, `Chenopodium album L. x Chenopodium hircinum L.`

[2018-04-06 13:14] LienReyserhove commented on #57
solved, see #65

[2018-04-06 13:14] #57 closed

[2018-04-14 07:14] peterdesmet opened #67 "Species with doubtful degree of establishment should not have doubtdul occurrenceStatus"
Copied from @qgroom https://github.com/trias-project/pipeline/issues/21#issuecomment-381203638

@LienReyserhove can you ask Filip to change this from ? to X in the source data?

[2018-04-14 07:22] qgroom commented on #67
I'll talk to him about it.
This is why we need degreeOfEstabliment!

[2018-04-17 14:51] LienReyserhove commented on #67
@qgroom  OK, keep me up to date when you have more information on this matter.

[2018-04-19 11:46] LienReyserhove commented on #59
Integrated, see #68

[2018-04-19 11:46] #59 closed

[2018-04-20 09:02] #37 closed

[2018-05-12 12:39] qgroom commented on #23
Is this still an issue?

[2018-07-03 08:13] peterdesmet opened #71 "Update hybrid taxonRank"
In response to https://github.com/gbif/portal-feedback/issues/1354#issuecomment-401303853, change taxonRank from `hybrid` to the lowest rank for 135 taxa. Note: not all are `species`, e.g. `Cornus sanguinea subsp. hungarica (Kárpáti) Soó` should get rank `subspecies`.

That should solve [rank unknown](https://www.gbif.org/species/search?dataset_key=9ff7d317-609b-4c08-bd86-3bc404b77c42&origin=SOURC

[2018-07-12 14:39] qgroom opened #72 "the use of extinct as a degreeOfEstablishment/invasionStage is confusing"
We have based `degreeOfEstablishment`/`invasionStage` on Blackburn et al 2011, which does not have a term for extinct and I don't think it should. We have placed the term `extinct` under `occurrenceStatus` as a subcategory of `absent`.
Currently, the term `extinct` is being used in the description extension in the Manual under the `invasionStage` as one element that links to the taxon. This is pro

[2018-08-07 16:33] peterdesmet commented on #72
Agreed

[2018-08-09 08:42] peterdesmet opened #74 "Duplicate description"
In his ongoing quest for order in the universe 🕵️‍♂️ @damianooldoni has discovered a duplicate description in this dataset:

http://api.gbif.org/v1/species/141265904/descriptions has `cbd_2014_pathway:contaminant_seed` twice.

The taxon in question is `Panicum dichotomiflorum Michaux` with taxonID `alien-plants-belgium:taxon:1667966a270681c6dbab1474b0fa0c9b` and the duplicate description is probab

[2018-12-02 09:30] qgroom opened #75 "Extirpated versus extinct"
In our proposed changes to Darwin Core we suggest that absentExtirpated is used in dwc:occurrenceStatus for local extinctions and restrict the term "extinct" to global extinctions.

[2020-02-07 12:41] peterdesmet opened #77 "I think we should reference ISO_3166 not ISO_3166-2"
We reference `ISO_3166-2` for our locationIDs:

https://github.com/trias-project/alien-plants-belgium/blob/a62c4a9d5beaa2e421b51fed50bce697eabdf613/src/dwc_mapping.Rmd#L467-L473

But `ISO_3166-2` is only for the **subdivisions** of countries. So correct for `BE-WAL` etc., but not for `BE`. I propose to just reference the general `ISO_3166`, rather than one of its parts: https://en.wikipedia.org/wi

[2020-02-07 13:00] peterdesmet commented on #77
This affects (links point to code):

- [ ] [ad-hoc-checklist](https://github.com/trias-project/ad-hoc-checklist/blob/master/src/dwc_mapping.Rmd#L437-L440)
- [ ] [alien-birds-checklist](https://github.com/trias-project/alien-birds-checklist/blob/master/src/dwc_mapping.Rmd#L343-L346)
- [ ] [alien-fishes-checklist](https://github.com/trias-project/alien-fishes-checklist/blob/master/src/dwc_mapping.Rm

[2020-02-07 13:58] peterdesmet commented on #77
Hmm, but on Wikipedia `BE` is also listed as part of `ISO_3166-2`: https://en.wikipedia.org/wiki/ISO_3166-2:BE

[2020-02-08 07:28] qgroom commented on #77
I think you're right when you suggest just to say ISO3166 as this encompasses everything. We could even mention both in the metadata.

[2020-04-03 10:11] damianooldoni commented on #28
While discussing standardization of native range at unified checklist level, I found species from The Manual of Alien Plants with native range values: `hybrid_origin`, `cultivated_origin`. They don't seem terms from WGSRPD.
See files with such taxa in my comment: https://github.com/trias-project/unified-checklist/issues/11#issuecomment-607287434.

[2020-04-15 09:19] LienReyserhove opened #78 "Synonyms not included in taxon core"
I wonder why we didn't include the information in the field `synonyms` from the raw dataset into the taxon core, DwC term `taxonomicStatus`. We do this for the synonym information in e.g. the checklist of the alien molluscs.

[2020-04-15 09:55] peterdesmet commented on #78
I think we didn't because we didn't want to statements about taxonomy, but I'm all for it if you want to include it.

[2020-04-15 10:05] LienReyserhove commented on #17
I quickly inspected the mapped data, and I think that we should include the information included in `m_i` after all. An example of our mapping of `v_i` into pathway information, with extra information of `m_i`:

m_i | v_i | cbd_standard
--- | --- | ---
D | Birdseed | contaminant_seed
A/D | Hort., timber? | contaminant_timber

The CBD category `contaminant` is associated with unintentional release

[2020-04-20 09:26] LienReyserhove commented on #78
@qgroom if you and Filip Verloove agree with this I will include the synonyms in the taxon core

[2020-04-20 10:21] timadriaens commented on #17
This is the agreed framework of [Harrower et al.](https://www.researchgate.net/publication/323772482_Guidance_for_interpretation_of_CBD_categories_on_introduction_pathways) on deliberate versus accidental introductions linked to the CBD pathway classification, which we also use for the TrIAS pathway indicators:

<img width="290" alt="2020-04-20 12_04_56-TSSR-2016-010CBDcategoriesonpathwaysFinal pd

[2020-04-20 10:28] qgroom commented on #17
My preference on this would be to get Filip to adopt the CBD pathway categories, but I don't know if he would be up for it.

[2020-04-20 11:59] timadriaens commented on #17
Indeed, or he can keep working like he's used to but include a mapped field himself. Also, it would be good if he could keep the regional information on introduction dates etc. We might have a jobber this summer who could do that for the current MAP version so that we can provide him with that.

[2020-04-27 06:05] qgroom commented on #78
I've certainly no objections and I doubt Filip has. In order to explain to Filip I would probably need a bit more detail of what you mean.
I assume you mean any synonyms in Filip's spreadsheet would now be included in the GBIF checklist dataset. Is that right?